.container {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}
.container > div {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.box1 {
  background-color: red;
}
.box2 {
  background-color: blue;
}
.box3 {
  background-color: green;
}
.box4 {
  background-color: yellow;
}
.box5 {
  background-color: purple;
}
.box6 {
  background-color: orange;
}
