.container {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  gap: 20px;
}
.container > div {
  background-color: rgba(246, 165, 255, 0.5);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 {
  background-color: red;
}
.box2 {
  background-color: blue;
}
.box3 {
  background-color: green;
}
.box4 {
  background-color: yellow;
}
.box5 {
  background-color: purple;
}
.box6 {
  background-color: orange;
}
